<!-- start: Header SECTION -->

<!-- end: Header SECTION -->

<!-- start: BASIC TABLE -->
<div class="container-fluid container-fullw crm-container" ng-controller="ContactsCtrl">
    <div class="row header-meta">
        <div class="desktop visible-md visible-lg hidden-sm hidden-xs">
            <div class="col-md-2">
                <h3>My Contacts </h3>
                 
            </div>
            <div class="col-md-4">
                <span class="meta">
                    {{contactLists.length}} Total Contacts
                    <span class="separator"> | </span>
                    Last Updated <span class="edited-date"><em><b>Yesterday June, 2016</b></em></span>
                </span>         
            </div>    
             <div class="col-md-6 text-right">
                <span class="header-buttons">
                    <button type="button" class="btn btn-wide btn-info" ng-click="addContactsModal('lg')">
                        <img class="add" src="{{contacts.icon.addsm}}"/> Add Contacts
                    </button>
                    <button type="button" class="btn btn-wide btn-grey">
                        <img class="merge" src="{{contacts.icon.merge}}"/>Merge Contacts
                    </button>
                </span>         
            </div>   
        </div>
        <div class="mobile hide-md hide-lg visible-sm visible-xs">            
            <div class="col-sm-11 col-xs-11 col-sm-offset-1 col-xs-offset-1">
                 <h3 class="header-title">My Contacts 
                    <span class="search-icon right" ng-click="showMobileSearch()">
                        <i class="fa fa-search"></i>
                    </span>
                 </h3>
                <div ng-show="searchMobile" class="search-mobile">
                    <input type="text" placeholder="Search Contacts" ng-model="contactsFilter.search" class="form-control underline" >
                    
                </div>                              
            </div>
            <span class="header-buttons">
                 <button type="button" class="btn btn-wide btn-info">
                    <img class="add" src="{{contacts.icon.addsm}}"/>
                </button>
            </span>
        </div>          
    </div>

    <div class="row">
    	<div class="col-md-12">
            
		    <input type="hidden" ng-model="contactsFilter.searchByAlphabet">
        </div>
        <div class="col-md-12 mobile hidden-md hidden-lg visible-sm visible-xs">
            <div class="row">
                <div class="col-sm-1 col-xs-1">
                    <ul id="filterByAlphabet">
                        <li ng-repeat="item in contactsFilter.generateByAlphabet">
                            
                            <button type="button" class="btn btn-wide btn-o btn-info" ng-class="{{item}}SetActive" ng-click="clickAlphabet(this.item)">
                                {{item}}
                            </button>                
                            
                        </li>
                    </ul>
                </div>
                <div class="col-sm-11 col-xs-11">
                    <div class="panel panel-white">
                        <div class="panel-body">
                            <b>{{contactsFilter.searchByAlphabet}}</b>
                            
                            <v-accordion class="vAccordion--default" control="firstAccordionControl">
                                <v-pane ng-repeat="contacts in contactLists | filter: contactsFilter.search | filter: contactsFilter.searchByAlphabet | orderBy: 'fullName'">
                                    <v-pane-header>
                                        <span class="checkbox-item">
                                            <input type="checkbox" class="" ng-model="contacts.check">

                                        </span> 

                                        <h5 ng-click="">{{ contacts.fullName }}
                                        
                                            <span ng-show="contacts.check" ng-class="{show: contacts.check==true}" class="edit-item display-edit-item-{{$index}}">
                                                <a href="#" class="btn btn-transparent btn-xs" tooltip-placement="top" uib-tooltip="Edit"><i class="fa fa-edit"></i></a>                                        
                                                <a href="#" class="btn btn-transparent btn-xs tooltips btn-delete" tooltip-placement="top" uib-tooltip="Remove"><i class="fa fa-trash-o"></i></a>
                                            </span>
                                       </h5>

                                    </v-pane-header>
                                    <v-pane-content>
                                        <div class="contacts-content-wrapper">
                                            <table class="table table-bordered contacts-table-mobile">
                                                <tbody>
                                                    <tr>
                                                        <td>Contact #:</td>
                                                        <td>{{contacts.contact}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>City:</td>
                                                        <td>{{contacts.city}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Adviser:</td>
                                                        <td>{{contacts.adviser}}</td>
                                                    </tr>
                                                     <tr>
                                                        <td>Client Type:</td>
                                                        <td>{{contacts.clientType}}</td>
                                                    </tr>
                                                </tbody>                                            
                                            </table>
                                            <div class="view-all-contacts-container">
                                                <button type="button" class="view-all btn btn-wide btn-info btn-block">
                                                    View Full Contact Info
                                                </button> 
                                            </div>   
                                        </div>                                 
                                    </v-pane-content>
                                </v-pane>
                            </v-accordion>                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 desktop visible-md visible-lg hidden-sm hidden-xs">
            <div class="panel panel-white">
                <div class="row" id="table-container">
                <div class="col-md-1">
                <ul id="filterByAlphabet">
                    <li ng-repeat="item in contactsFilter.generateByAlphabet">
                        
                        <button type="button" class="btn btn-wide btn-o btn-info" ng-class="{{item}}SetActive" ng-click="clickAlphabet(this.item)">
                            {{item}}
                        </button>                
                        
                    </li>
                </ul>

                </div>
                <div class="col-md-11">
                    <div class="panel-body">
                        <div class="table-flex-container">
                            <table class="table table-striped table-hover" id="contacts-table">
                                <thead>
                                    <tr>
                                        <th class="center check-all"><input type="checkbox" class="" ng-model="selectedAll" ng-click="checkAllItem()" /></th>
                                        <th>Family Name</th>
                                        <th class="hidden-xs">City <i class="fa fa-filter"></i></th>
                                        <th>Contact #</th>
                                        <th class="hidden-xs">Advertiser <i class="fa fa-filter"></th>
                                        <th class="hidden-xs hide-md">Client Type <i class="fa fa-filter"></th>
                                        <th>
        									<span class="input-icon table-search">
        	                                	<input type="text" placeholder="Search Contacts" ng-model="contactsFilter.search" class="form-control" >
        	                            		<i class="fa fa-search"></i>
                                    		</span>
                                		</th>                                
                                    </tr>
                                </thead>
                                
                                <tbody>
                                	<tr ng-repeat="contacts in contactLists | filter: contactsFilter.search | filter: contactsFilter.searchByAlphabet | orderBy: 'fullName'" class="contact-item-{{$index}}" ng-mouseover="mouseEnterRow($index)" ng-mouseLeave="mouseLeaveRow($index)">
                                		<td class="center check-item">
                                            
                                			<input type="checkbox" class="" ng-model="contacts.check">
                                            
                                		</td>
                                		<td>
                                			{{contacts.fullName }}
                                		</td>
                                		<td>
                                			{{contacts.city}}
                                		</td>
                                		<td>
                                			{{contacts.contact}}
                                		</td>
                                		<td>
                                			{{contacts.adviser}}
                                		</td>
                                		<td class="hide-md">
                                			{{contacts.clientType}}
                                		</td>
                                		<td class="center">
                                            <div class="hide edit-item display-edit-item-{{$index}}">
                                                <div class="visible-md visible-lg hidden-sm hidden-xs ">
                                                    <a href="#" class="btn btn-transparent btn-xs" tooltip-placement="top" uib-tooltip="Edit"><i class="fa fa-edit"></i></a>                                        
                                                    <a href="#" class="btn btn-transparent btn-xs tooltips btn-delete" tooltip-placement="top" uib-tooltip="Remove"><i class="fa fa-trash-o"></i></a>
                                                </div>
                                            </div>                                           
                                            
                                        </td>
                                	</tr>
                                    <tr class="blank-item">
                                    </tr>
                                </tbody>
                           
                            </table>
                            <div class="table-cover-bottom"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end: BASIC TABLE -->

<!-- Modal Add Form -->

<script type="text/ng-template" id="addContactModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">Add Client 

        <span class="modal-header-buttons right">
            <button type="button" class="btn btn-wide btn-info">
                Save Contact and Close
            </button>
            
        </span>
        </h3>
        
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <div class="panel panel-white">
                    <div class="panel-heading">
                        <h4>Personal Information</h4>
                    </div>
                    <div class="panel-body">
                        <form role="form" class="form-horizontal custom-contact-form ng-pristine ng-valid">
                            <div class="form-group">
                                <label class="col-sm-5 control-label">
                                    Title
                                </label>
                                
                                <div class="col-sm-7">
                                    <div class="input-group">
                                        <select name="title" id="clientTitle" ng-model="clientInfo.title" ng-change="onChange(clientInfo.title)" class="form-control customSelect">

                                            <option value="-1">SELECT ROLE</option>

                                            <option ng-repeat="val in contactSelectGroup.title">{{val}}</option>                                      
                                        </select>
                                        <span class="input-group-addon"><i class="fa fa-sort-down"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label">
                                    FIRST NAME
                                </label>
                                
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" ng-model="clientInfo.firstName" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label">
                                    MIDDLE NAME
                                </label>
                                
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" ng-model="clientInfo.middleName" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label">
                                    LAST NAME
                                </label>
                                
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" ng-model="clientInfo.lastName" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label">
                                    PREFERRED NAME
                                </label>
                                
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" ng-model="clientInfo.preferredName" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label">
                                    ROLE
                                </label>
                                
                                <div class="col-sm-7">
                                    <div class="input-group">
                                        <select name="title" id="clientTitle" ng-model="clientInfo.role" ng-change="onChange(clientInfo.role)" class="form-control customSelect">

                                            <option value="-1">SELECT ROLE</option>

                                            <option ng-repeat="val in contactSelectGroup.role">{{val}}</option>                                      
                                        </select>
                                        <span class="input-group-addon"><i class="fa fa-sort-down"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label">
                                    BIRTHDAY
                                </label>
                                
                                <div class="col-sm-7">                                                                     
                                    <input type="text" class="form-control" placeholder="mm/dd/yyyy" uib-datepicker-popup="MM/dd/yyyy" ng-model="clientInfo.birthDay" show-weeks="false" is-open="inputopened" ng-init="inputopened = false" ng-click="inputopened = !inputopened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label">
                                    GENDER
                                </label>
                                
                                <div class="col-sm-7">                                                                     
                                   <div class="btn-group">                                        

                                        <label class="btn btn-primary" ng-model="clientInfo.gender" uib-btn-radio="'Male'">
                                            Male
                                        </label>                                        
                                        <label class="btn btn-primary" ng-model="clientInfo.gender" uib-btn-radio="'Female'">
                                            Female
                                        </label>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label">
                                    
                                </label>
                                
                                <div class="col-sm-7">                                                                     
                                   <div class="checkbox clip-check check-info checkbox-inline">
                                        <input type="checkbox" id="checkbox14" ng-model="clientInfo.deceased">
                                        <label for="checkbox14">
                                            No Birthday Reminder Decease
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <div class="panel panel-white">
                    <div class="panel-heading">
                        <h4>Additional Information</h4>
                    </div>
                    <div class="panel-body add-info-panel">
                        <form role="form" class="form-horizontal custom-contact-form ng-pristine ng-valid">
                            <div class="form-group">
                                <label class="col-sm-5 control-label">
                                    HOME PHONE
                                </label>
                                
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" ng-model="clientInfo.homePhone" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label">
                                    BUSINESS PHONE
                                </label>
                                
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" ng-model="clientInfo.businessPhone" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label">
                                    MOBILE PHONE
                                </label>
                                
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" ng-model="clientInfo.mobilePhone" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label">
                                    BEST TIME TO CALL
                                </label>
                                <div class="col-sm-3">
                                    <input id="" type="text" class="form-control" ng-model="clientInfo.time"/>
                                </div>
                                <div class="col-sm-2 pan">
                                    <div class="input-group bootstrap-touchspin">
                                    
                                        <input id="demo4" type="text" class="form-control" style="display: block;" ng-model="clientInfo.timeFormat" />
                                        
                                        <span class="input-group-btn-vertical">
                                            <button class="btn btn-default bootstrap-touchspin-up" ng-click="timeFormat('AM')" type="button">
                                                <i class="ti-angle-up"></i>
                                            </button>
                                            <button class="btn btn-default bootstrap-touchspin-down" ng-click="timeFormat('PM')" type="button">
                                                <i class="ti-angle-down"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label">
                                    EMAIL ADDRESS
                                </label>
                                
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" ng-model="clientInfo.email" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label">
                                    SMOKER
                                </label>
                                
                                <div class="col-sm-7">                                                                     
                                   <div class="btn-group">                                        

                                        <label class="btn btn-primary" ng-model="clientInfo.gender" uib-btn-radio="'Yes'">
                                            Male
                                        </label>                                        
                                        <label class="btn btn-primary" ng-model="clientInfo.gender" uib-btn-radio="'No'">
                                            Female
                                        </label>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label">
                                    OCCUPATION
                                </label>
                                
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" ng-model="clientInfo.occupation" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label">
                                    
                                </label>
                                
                                <div class="col-sm-7">
                                    <span>OR</span>
                                    <div class="input-group custom-input-group">
                                        <select name="title" id="clientTitle" ng-model="clientInfo.occupationClass" ng-change="onChange(clientInfo.role)" class="form-control customSelect">

                                            <option value="-1">SELECT ROLE</option>

                                            <option ng-repeat="val in contactSelectGroup.class">{{val}}</option>                                      
                                        </select>
                                        <span class="input-group-addon"><i class="fa fa-sort-down"></i></span>

                                        <div class="class-help" >
                                            <span class="badge badge-info" ng-mouseover="showClassHint()" ng-mouseLeave="hideClassHint()">?</span>
                                            <div class="hide static-popover popover-class">
                                                <div class="popover right" ng-class="popoverType" style="">
                                                    <div class="arrow"></div>
                                                    <h3 class="popover-title ng-binding">CLASS SELECTION GUIDE</h3>
                                                    <div class="popover-content">
                                                        <p>
                                                            Here is a rough guide for selection an occupation class. In over under beast seed He. Thing Second stars green there gathering living.
                                                        </p>
                                                        <p>
                                                            <span class="btn btn-primary button-slanted"> CLASS 1</span> Professionals (usually tertiary qualified) typically earning over <b>$80,000</b> annually.
                                                        </p>
                                                        <p>
                                                            <span class="btn btn-primary button-slanted"> CLASS 2</span> Skilled Trades people (for example a qualified builder) or non-desk based workers (for example technician, shopkeeper etc)
                                                        </p>
                                                        <p>
                                                            <span class="btn btn-primary button-slanted"> CLASS 3</span> Professionals (usually tertiary qualified) typically earning over <b>$80,000</b> annually.
                                                        </p>
                                                        <p>
                                                            <span class="btn btn-primary button-slanted"> CLASS 4</span> Housewife / Househusband / Student
                                                        </p>
                                                        <p>
                                                            <span class="btn btn-primary button-slanted"> CLASS 5</span> Housewife / Househusband / Student
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label">
                                    EMPLOYER / COMPANY
                                </label>
                                
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" ng-model="clientInfo.company" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

             <div class="col-lg-4 col-md-12">
                <div class="panel panel-white">
                    <div class="panel-heading">
                        <h4>Client Notes</h4>
                    </div>
                    <div class="panel-body">
                        <form role="form" class="form-horizontal custom-contact-form ng-pristine ng-valid">
                            <div class="form-group">     
                                <div class="col-sm-12">                          
                                    <textarea placeholder="" rows="28" class="form-control" ng-model="clientInfo.notes"></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>  
    </div>
    <!-- End Modal Body -->
    <div class="modal-footer">
        
    </div>
</script>